* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(47, 46, 46);
}

h1 {
    border: 1px solid rgb(135, 198, 220);
    color: rgb(47, 46, 46);
    background-color: rgb(135, 198, 220);
    line-height: 60px;
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
    width: 400px;
}

/* navigation bar */
.head ul {
    display: flex;
    margin: 50px 20px 0px 0px;
}

.head ul li{
    display: inline;
    color: rgb(135, 198, 220);
    border-bottom: 2px solid rgb(135, 198, 220);
    margin-right: 20px;
    margin-bottom: 50px;
    padding-bottom: 5px;
}

/* removing auto link styles */
a:-webkit-any-link {
    text-decoration: none;
    color: rgb(135, 198, 220);
}

/* bottom portion of header */
.background {
    display: flex;
    align-items:flex-end;
    justify-content: right;
    background-image: url("./assets/images/image-1.jpg");
    height: 180px;
}

.welcome{
    border: 1px solid  rgb(135, 198, 220);
    background-color: rgb(135, 198, 220);
    padding: 0px 10px;
    color:rgb(47, 46, 46)
}


main {
    background-color: rgb(218, 216, 216);
    display: flex;
    flex-wrap: wrap;
}

/* flexbox containers for each section */
#about-me-section, #work-section, #contact-me-section {
    display: flex;
    flex-direction: row;
    flex: 1 0 100%;
    column-count: 300px 2; 
    margin: 40px 0px;
}

/* titles for each container */
.child-1, .child-4, .child-6 {
    width: 20%;
    text-align: right;
    margin: 15px 20px 0px 20px;
    border-right: 2px solid rgb(49, 64, 96);
    color: rgb(49, 64, 96);
    padding-right: 20px;
    font-size: 40px;
}

/* container 1 */
.child-2 {
    width: 120px;
    height: 120px;
    text-align: right;
    margin: 20px 10px 10px 10px;
}

.child-3 {
    width: 55%;
    text-align: left;
    margin: 20px 20px 0px 20px;
}

/* container 2 */
.child-5{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.project {
    border: 4px solid rgb(135, 198, 220);
    padding: 70px 300px 20px 0px;
    margin: 5px;
    background-image: url("./assets/images/image-4.jpg");
}


#large{
    padding: 200px 720px 20px 0px;
}

/* project names and descriptions */
article {
    border: 1px solid rgb(135, 198, 220);
    background-color:rgb(135, 198, 220);
    color: rgb(47, 46, 46);
    padding-left: 10px;
}

h3 {
    margin: 4px 0px;
    font-size: 20px;
}

/* container 3 */
.child-7 {
    width: 70%;
    padding: 40px 20px;
    margin-bottom: 40px;
}

.child-7 li {
    display: inline;
    margin: 0px 40px;
    color:rgb(47, 46, 46);
    border-bottom: 2px solid rgb(49, 64, 96);
    padding-bottom: 5px;
}


.project:hover {
    background-image: url("./assets/images/image-2.jpg");
}

.grubFinder:hover{
    background-image: url("./assets/images/GrubFinder.jpg");
    filter: brightness(90%); 
}

.weatherApp:hover{
    background-image: url("./assets/images/Weather-App.jpg");
    /* filter: brightness(90%);  */
}

.budgetly:hover{
    background-image: url("./assets/images/Budgetly.jpg");
    /* filter: brightness(90%);  */
}


@media screen and (max-width: 1100px){
    #large{
        padding: 140px 500px 20px 0px;
    }
}

@media screen and (max-width: 900px){
    #about-me-section, #work-section, #contact-me-section{
        display: block;
    }
    .child-1, .child-4, .child-6 {
        border-right: none;
        width: 50%;
        border-bottom: 2px solid rgb(31, 51, 93);
        text-align: left;
    }
    .child-7 li{
        margin: 0 10px;
    }
    .child-3{
        width: 90%;
    }
    .child-2 {
        margin-left: 20px;
    }
}

@media screen and (max-width: 650px){
    .head ul li{
        margin-right: 5px;
    }
    .child-7 li{
        display: block;
        border-bottom: none;
        text-decoration: underline;
    }
    #large{
        padding: 100px 250px 20px 0px;
    }
    .project{
        padding: 70px 120px 20px 0px;
        margin: 5px 10px;
    }
    h1 {
        text-align: left;
        padding-left: 10px;
    }
}